body {
  margin: 0;
  padding: 0;  
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.navbar {
  background-color: #f5d355;
  height: 100px;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-color: #f5d355;
  padding-top: 22px;
}

#bs-example-navbar-collapse-1 {
  padding-top: 20px;
}

.navbar-default {
  margin:0;
  padding: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #091353;
  font-size: 12px;
  letter-spacing: .2em;
  font-weight: 700;
  font-style: normal;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav li {
  float: none;
  display: inline-block;
}

#homeTab {
  color:#82bfb6;
  letter-spacing: -.03em;
  font-size: 31px;
}

.container {
  width: 100%;
}

.content {
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 
               0px 8px 13px rgba(0, 0, 0, 0.1),
               0px 18px 23px rgba(0, 0, 0, 0.1);
}

#main .content {
  padding: 240px 100px;
}

#main {
  /* background-image: url(https://images.unsplash.com/photo-1509050153347-288ad85fc9ea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=980bd4a5ea7f83fe1e9a99df5f73695e&auto=format&fit=crop&w=1500&q=80); */
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1421986527537-888d998adb74?ixlib=rb-0.3.5&s=82803864920d13cfd198e849e8a79e77&auto=format&fit=crop&w=1050&q=80);
  background-size: cover; 
}

#main, #about {
  min-height: 830px;
}

#about .description-area{
  padding: 80px;
}

#about h2 {
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  text-align: center;
  line-height: 1.2em;
  color: #081359;
  margin-top: 0;
  margin-bottom: 37px;
}

.picture-area {
  background-image: url(airBalloons.jpg);
  background-position: center;
  background-size: cover; 
  width: 100%;
  height: 320px;
}

.information {
  color: #454545;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: .03em;
  line-height: 1.9em;
  padding: 17px;
}

.information-area {
  padding: 17px;
}

h1 {
  font-weight: 600;
  font-size: 90px;
  letter-spacing: -.04em;
  line-height: .9em;
  padding-bottom: 17px;
}

.svg-inline--fa.fa-w-16 {
  width: 8px;
  margin: 0 10px;
}

.btn-default {
  color: #fafafa;
  background-color: #091353;
  border-color: #091353;
  border-radius: 300px;
  padding: 25px 46px;
  font-size: 18px;
  letter-spacing: .2em;
  margin: 17px 0;
}

#main h4 {
  letter-spacing: .22em;
  line-height: 1.5em;
  font-size: 14px;
  font-style: italic;
  padding: 17px;
  margin: 0;
}

#main h2 span { 
  font-weight: bold;
  font-size: 34px;
  font-style: normal;
  letter-spacing: 0em;
  line-height: 1.2em;
  padding: 0 5px;
}

#main h3 {
  padding: 17px;
  margin: 0;
}

#footer {
  background-color: #081359;
  height: 500px;
  padding: 100px 100px;
}

#footer .nav-items a {
  font-size: 12px;
  font-style: normal;
  letter-spacing: .2em;
  line-height: 1em;
  padding-right: 1em;
  text-decoration: none;
  color: white;
  transition: color .15s ease-out;
}

#footer .nav-items a:hover {
  color: #454545;
}

#footer .icon {
  padding: 40px 0 30px 0;
  font-size: 60px;
}

#footer h3 {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  letter-spacing: .22em;
  line-height: 1.5em;
  margin: 0;
  padding-bottom: 17px;
}

#footer button {
  margin: 25px;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  background-color: transparent;
  transition: color .15s ease-out;
  padding: 13px 26px;
  font-size: 11px;
}

#footer button:hover {
  background-color: white;
  color:081359;
}