body {
  margin: 0;
  padding: 0;  
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.navbar {
  background: #f5d355 !important;
  height: 100px;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-color: #f5d355;
  padding-top: 22px;
}

#bs-example-navbar-collapse-1 {
  padding-top: 20px;
}

.navbar-default {
  margin:0;
  padding: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #091353;
  font-size: 12px;
  letter-spacing: .2em;
  font-weight: 700;
  font-style: normal;
}

.dropdown-menu>li>a {
  color:white;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav li {
  float: none;
  display: inline-block;
}

.dropdown-menu li {
  text-transform: none;
}

.navbar-nav>li>.dropdown-menu {
  background: #081359;
}

.dropdown-menu .divider {
  width:100%;
  height: 2px;
  margin: 0 0px 3px 0px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background: #081359;
  color:white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background: #081359;
  color:white;
}

.dropdown-menu>li>a {
  padding: 3px 10px;
}

#homeTab {
  color:#3ec3af;
  letter-spacing: -.03em;
  font-size: 31px;
}

.container {
  width: 100%;
}

.content {
  text-align: center;
}

#main .content {
  padding: 240px 100px;
}

#main, .pages {
  min-height: 830px;
}

.parallax { 
  height: 100%; 
  background-image: url(https://images.unsplash.com/photo-1421986527537-888d998adb74?ixlib=rb-0.3.5&s=82803864920d13cfd198e849e8a79e77&auto=format&fit=crop&w=1050&q=80);
  /* background-image: url(https://images.unsplash.com/photo-1509050153347-288ad85fc9ea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=980bd4a5ea7f83fe1e9a99df5f73695e&auto=format&fit=crop&w=1500&q=80); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pages .description-area{
  padding: 80px;
}

.pages h2 {
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  text-align: center;
  line-height: 1.2em;
  color: #081359;
  margin-top: 0;
  margin-bottom: 10px;
}

.picture-area {
  background-image: url(airBalloons.jpg);
  background-position: center;
  background-size: cover; 
  width: 100%;
  height: 320px;
}

#philosophy .picture-area {
  background-image: url(https://images.unsplash.com/photo-1521167502-4e1d2338b6d6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a7535e4ff29512df441fd23d965edc63&auto=format&fit=crop&w=1062&q=80);
  background-position: center;
  background-size: cover; 
  width: 100%;
  height: 320px;
}

#education .picture-area {
  background-image: url(https://images.unsplash.com/photo-1421986527537-888d998adb74?ixlib=rb-0.3.5&s=82803864920d13cfd198e849e8a79e77&auto=format&fit=crop&w=1050&q=80);
  background-position: center top;
  background-size: cover; 
  width: 100%;
  height: 320px;
}

.information {
  color: #454545;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: .03em;
  line-height: 1.9em;
  padding: 17px;
  padding-bottom: 0;
}

.information-area {
  padding: 17px;
}

h1 {
  font-weight: 600;
  font-size: 90px;
  letter-spacing: -.04em;
  line-height: .9em;
  padding-bottom: 17px;
}

.svg-inline--fa.fa-w-16 {
  width: 8px;
  margin: 0 10px;
}

.btn-default {
  color: #fafafa;
  background: #091353;
  border: none;
  border-radius: 300px;
  padding: 25px 46px;
  font-size: 18px;
  letter-spacing: .2em;
  margin: 17px 0;
  text-shadow: none;
}

.slogan {
  font-style: italic;
  background: #3ec3af;
  border-color: #3ec3af;
}

.sloganText {
  font-style: italic;
  font-weight: bold;
}

#main h4 {
  letter-spacing: .22em;
  line-height: 1.5em;
  font-size: 14px;
  font-style: italic;
  padding: 17px;
  margin: 0;
}

#main h2 span { 
  font-weight: bold;
  font-size: 34px;
  font-style: normal;
  letter-spacing: 0em;
  line-height: 1.2em;
  padding: 0 5px;
}

#main h3 {
  padding: 17px;
  margin: 0;
}

/* FOOTER */

#footer {
  background: #6fc4b8;
  height: 500px;
  padding: 100px 100px;
}

#footer .nav-items a {
  font-size: 1.3em;
  font-style: normal;
  letter-spacing: .2em;
  line-height: 1em;
  text-decoration: none;
  color: white;
  transition: color .15s ease-out;
}

#footer .nav-items a:hover {
  color: #454545;
}

#footer .icon {
  padding: 40px 0 30px 0;
  font-size: 60px;
  color: #091353;
}

#footer h3 {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  letter-spacing: .22em;
  line-height: 1.5em;
  margin: 0;
  padding-bottom: 17px;
}

#footer button {
  margin: 25px;
  border: white solid 2px;
  background: #081359;
  transition: color .15s ease-out;
  padding: 13px 26px;
  font-size: 11px;
}

#footer button:hover {
  background: white;
  border: none;
  color: #081359;
}